<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body 
    { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/b.jpeg');
        background-size: 100% auto;
    }
    table, th, td 
    {
        border: 1px solid black;
    }
    table 
    {
        border-collapse: collapse;
        background-size: 100% 100%;
        width: 100%;
    }
    tr:hover
    {
        background-color: #ffff99;
    }
    td {
        text-align: center;
    }
    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:600px;
        height:auto;
        padding: 10px 10px 10px;
        margin:45px 0px 0px 0px;

        color:#333;
        border:2px solid #C2D6FF;
        position: relative;
        left: 50px;
    }

    h1{
        color: darkblue;
    }

    .numeros-mat{
        position: absolute;
        top: 65px; left: 80px;
        size=4px
    }

    .numeros2-mat{
        position: absolute;
        top: 95px; left: 35px;
    }
    </style>
</head>


<body>
<%filas=@X-1%>
<%columnas=@Y-1%>
<h1><%= "Esta jugando:"+@nombre_usuario%>  <%= "Banderas: "+@banderas_disponibles.to_s%></h1>

<div class="numeros-mat">

<div class="content-prev">
    <table class="egt">
  <tr>
    <td>X/Y</td>
    <% for m in 0..columnas do %>  
    <th scope="col"><%=m+1%></th>
    <% end %>
  </tr>
  <% for n in 0..filas do %>
  <tr>
    <th scope="row"><%= n+1%></th>
    <% for k in 0..columnas do %>
   <td>
        <% if @mostrar_tablero[n][k].getEstado_celda()==true && @mostrar_tablero[n][k].getEstado_bandera()==false%>
                <%=@mostrar_tablero[n][k].getCaracter_celda()%>
        <% else %> 
            <% if @mostrar_tablero[n][k].getEstado_bandera() %>
                <%="B"%>  
            <% else %>
                <%=" "%>
            <% end %>
        <% end %>
    </td>
    <% end %>
    <% end %>
  </tr>
  <tr>  
 </table>
</div>

<form method='post' action='/obteneryandx_I'>
    <h4>Sector para destapar una casilla</h4>
<p>
    FILA:
    <select name=X>
    <% for k in 0..filas do %>
    <option><%=k+1%></option>
    <%end%>
    </select>
    &nbsp
    COLUMNA:
    <select name=Y>
    <% for n in 0..columnas do %>
    <option><%=n+1%></option>
    <%end%>
    </select>
    <input type="submit" value="Enviar">
    <input type= "hidden" name=Usuario value=<%=@nombre_usuario%>>
    </p>
    
</form>

<form method='post' action='/disminuir_contador_bandera_2'>
    <h4>Sector de poner banderas</h4>
    <p>
    FILA:
    <select name=X>
    <% for k in 0..filas do %>
    <option><%=k+1%></option>
    <%end%>
    </select>
    &nbsp
    COLUMNA:
    <select name=Y>
    <% for n in 0..columnas do %>
    <option><%=n+1%></option>
    <%end%>
    </select>
    <input type="submit" value="Enviar">
    <input type= "hidden" name=Usuario value=<%=@nombre_usuario%>>
    </p>
</form>

<form method='post' action='formato2'>
        <br>
        <input type='submit' value='REINICIAR PARTIDA'>
        <br>
    </form>
</body>
</html>
