<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body 
    { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/b.jpeg');
        background-size: 100% auto;
    }
    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:500px;
        height:auto;
        margin:100px 0px 0px 0px;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
    }

    h1{
        color: darkblue;
    }
    </style>
</head>

<body>
<h1><%= "Esta jugando:"+@nombre_usuario%></h1>
<%@mostrar_tablero.each_with_index do |filas, i|%>
    <%filas.each_with_index do |columnas, j|%>

        <% if @mostrar_tablero[i][j].getEstado_celda()==true && @mostrar_tablero[i][j].getEstado_bandera()==false%>
                <input type="button" value=<%=@mostrar_tablero[i][j].getCaracter_celda()%>>
        <% else %> 
            <% if @mostrar_tablero[i][j].getEstado_bandera() %>
                <input type="button" value="B">
            <% else %>
                <input type="button" value=<%=i.to_s+"-"+j.to_s%>>
                <!--<input type="button" value=<%=@mostrar_tablero[i][j].getCaracter_celda()%>>-->
            <% end %>
        <% end %>
    
    <%end%>
    <br/>
<%end%>
<br>
<form method='post' action='/obteneryandx'>
    <h4>Sector para destapar una casilla</h4>
    <label>Eje X <input type="text" required="required" name=X></label>
    <label>Eje Y <input type="text" required="required" name=Y></label>
    <input type="submit" value="Enviar">
    <input type= "hidden" name=Usuario value=<%=@nombre_usuario%>>
</form>
<form method='post' action='/disminuir_contador_bandera'>
    <h4>Sector de poner banderas</h4>    
    <label>Eje X <input type="text" required="required" name=X></label>
    <label>Eje Y <input type="text" required="required" name=Y></label>
    <input type="submit" value="poner_bandera">
    <br>
    <input type="hidden" name=Usuario value=<%=@nombre_usuario%>>
    
</form>

<form method='post' action='formato'>
        
        <br>

        <input type='submit' value='REINICIAR PARTIDA'>
        <br>
    </form>
</body>
</html>
